.text-time{
    font-size: 10px;
    font-weight: bold;
}
.author{
    font-size: 20px;
}
.watch-time{
    margin-left: 400px;
}

.card{
    width: 700px;
}

.bookmark :hover{
        color: rgb(5, 4, 3);
}

@media screen and (max-width:576px) {
    .card{
        width: auto
    }

    .text-time{
        font-size: 7px;
        font-weight: bold;
    }
    .author{
        font-size: 20px;
    }
    .watch-time{
        margin-left: 80px;
    }
}